body {
    background-color: rgb(253, 251, 251);
}

#cabecalho {
    position: fixed;
    top: 0;
    z-index: 2;
}

img {
    width: 100px;
    margin: 10px;
    
}

nav {
    padding-top: 20px;
    text-align: center;
}

#aside {
    position: absolute;
    right: 0;
    top: 245px;
    z-index: 1;
    width: 30%;
    
}

article {
    width: 50%;
}